{% extends 'core/base.html' %}

{% block content %}
<section class="section pt-0 pb-20 has-background-light is-clipped has-text-centered">
  <img class="image is-inline-block"  style="height:448px;" src="https://ucarecdn.com/ea1d0639-712a-4086-b2eb-aedae7bebca4/cherrywelcometotheoffice.svg" alt="">
  <div class="container">
    <h1 class="title has-text- mt-2 mb-16">About us</h1>
    <div class="has-mw-3xl mx-auto">
      <p class="is-size-5 mb-10 has-text-grey">PUNART identifies and typifies employers based on their corporate culture allowing you to easily discover which employers suit you best. You can only be matched with employers active on the PUNART platform.

PUNART identifies and typifies employers based on their corporate culture allowing you to easily discover which employers suit you best. You can only be matched with employers active on the PUNART platform.

PUNART can be used to discover employers, learn more about yourself and to
 send your PUNART scan along with your application. We believe that you
 will be happier, perform better and achieve more when you work for an
 organisation that suits you. PUNART can be used to discover employers,
 learn more about yourself and to send your PUNART scan along with your application. We believe that you will be happier, perform better and achieve more when you work for an organisation that suits you. </p>
    </div>
  </div>
</section>
{% endblock %}
