{% extends 'core/base.html' %}

{% block content %}
<section class="pt-20">
  <div class="section py-0">
    <div class="container mb-20">
      <div class="columns is-vcentered is-centered">
        <div class="column is-6 mb-12 mb-0-desktop">
          <div class="has-mw-lg">
            <h2 class="title is-2">Please feel free to ask about anything</h2>
          </div>
        </div>
        <div class="column is-4 ml-auto">
          <h3 class="mb-4 title is-4">Address</h3>
          <p class="mb-10 mb-8-desktop has-text-grey-dark">Kosovo, Albania</p>
          <h3 class="mb-4 title is-4">Contacts</h3>
          <p class="has-text-grey-dark">info@punart.org</p>
        </div>
      </div>
    </div>
  </div>
  <div class="is-relative">
    <img class="image is-fullwidth is-cover" style="height:448px;" src="https://ucarecdn.com/0cc8f7cf-e53c-47ff-aca6-1d5fd94837b2/glossymap.svg" alt="">
  </div>
</section>

{% endblock %}
